.login {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: grid;
}
.login-container {
  place-self: center;
  width: max(28vw, 350px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 16px;
  animation: fadeIn 0.5s;
}
.login-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-title img {
  width: 16px;
  cursor: pointer;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 5px;
}
.login-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: tomato;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}
.login-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -12px;
}
.login-condition input {
  margin-top: 4px;
}
.login-container a {
  text-decoration: underline;
  color: tomato;
}
